*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.obshi{
    width: 100%;
    height: 100vh;
    .glava{
        width: 100%;
        height: 100vh;
        background-image: url(./img/glaaava.jpg);
        background-position: center;
        background-size: cover;
     .nav{
width: 100%;
height: 100px;
display: flex;
align-items: center;
justify-content:  space-evenly;
h1{
    font-family: 'Libre Franklin';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 29px;
margin-right: 120px;
color: #FFFFFF;
}
a{
    font-family: 'Libre Franklin';
font-style: normal;
font-weight: 400;
font-size: 18px;
text-decoration: none;
line-height: 22px;
color: #FFFFFF;
}
a:hover{
    color: #C66C49;
}
     }  
      .di1{
        width: 50%;
        height: 400px;
        margin-top: 50px;
        margin-left: 50px;
        background-color: rgba($color: #000000, $alpha: 0.4);
        h1{
            font-family: 'Libre Franklin';
            font-style: normal;
            font-weight: 400;
            text-align: center;
            font-size: 64px;
            line-height: 78px;
            padding-top: 25px;
            color: #FFFFFF;
           
        }
h2{
    font-family: 'Libre Franklin';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
margin-left: 45px;
margin-top: 45px;
color: #FFFFFF;
}
a{
    font-family: 'Libre Franklin';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-decoration-line: underline;
color: #FFFFFF;
}
h3{
    margin-left: 45px;
}
a:hover, h3:hover{
    color: #C66C49;
}
}
      }
.div1{
    width: 100%;
    height: 380px;
    h1{
        font-family: 'Libre Franklin';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #333333;
padding-top: 70px;
margin-left: 90px;
    }
    p{
        font-family: 'Libre Franklin';
font-style: normal;
font-weight: 400;
font-size: 18px;
padding-top: 50px;
margin-left: 90px;
line-height: 30px;
text-align: justify;
width: 90%;
color: #333333;
    }
}
.Skills{
width: 100%;
height: 600px;
background-color: #FFFAF2;
display: flex;
.lef{
    width: 35%;
    height: 600px;
    h1{
        font-family: 'Libre Franklin';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
margin-left: 90px;
color: #333333;
margin-top: 20px;
    }
    img{
        margin-left: 90px;
        margin-top: 100px;
    }
    a{
        text-decoration: none;
        h1{
margin-left: 200px;
position: relative;
bottom: 8%;
        }
    }
    .fa-instagram{
        font-size: 34px;
        margin-left: 90px;
        margin-top: 10px;
        color: red;
    }
    .fa-instagram:hover{
        color: #C66C49;
    }
    .fa-telegram:hover{
        color: #C66C49;
    }
    .fa-telegram{
        font-size: 34px;
        margin-left: 20px;
        margin-top: 10px;
    }
}
.ri{
    width: 45%;
    height: 600px;
   .d1{
    width: 100%;
    height: 50px;
    display: flex;
    h1{
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        margin-top: 50px;
        line-height: 25px;
        color: #333333;        
    }
    p{
        font-family: 'Libre Franklin';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
margin-top: 50px;
margin-left: 150px;
color: #333333;
    }
   }
   .d2{
    display: flex;
    h1{
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        margin-top: 100px;
        line-height: 25px;
        color: #333333;    
    }
    .dii{
        width: 450px;
        height: 25px;
        margin-top: 100px;
        margin-left: 190px;
        background-color: #F5D6AB;
        h1{
            width: 70%;
            height: 100%;
            background-color: #C66C49;
            position: relative;
            bottom: 100px;
        }
    }
   }
   .d3{
    display: flex;
    p{
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        margin-top: 50px;
        line-height: 25px;
        color: #333333;    
    }
    .dii{
        width: 500px;
        height: 25px;
        margin-top: 50px;
        margin-left: 190px;
        background-color: #F5D6AB;
        h1{
            width: 90%;
            height: 100%;
            background-color: #C66C49;
            position: relative;
        }
    }
    .icono{
        display: flex;
        width: 600px;
        height: 70px;
    }
   }
   .fa-brands{
    font-size: 50px;
    margin-top: 50px;
   }
   .fa-html5{
    color: blue;
   }
   .fa-css3{
    margin-left: 150px;
    position: relative;
    color: red;
    bottom: 95px;
   }
   .fa-github{
    margin-left: 150px;
    position: relative;
    left: 150px;
    bottom: 195px;
} } }
.div2{
 width: 100%;
 height: 830px;
 display: flex;
 flex-wrap: wrap;
 .left{
    width: 29%;
    padding-right: 5px;
    height: 650px;
    h1{
        font-family: 'Libre Franklin';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
margin-top: 70px;
margin-left: 90px;
color: #333333;
    }
    p{
        font-family: 'Libre Franklin';
font-style: normal;
font-weight: 400;
font-size: 18px;
text-align: center;
line-height: 30px;
margin-top: 50px;
margin-left: 85px;
color: #333333;
    }
    img{
        width: 80%;
        margin-left: 90px;
        margin-top: 50px;
    }
    a{
        text-decoration: none;
        h2{
            font-family: 'Libre Franklin';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            margin-top: 50px;
            margin-left: 90px;
            color: #333333;
        }
    
    }
    h2:hover{
        color: greenyellow;
    }
    .fa-solid{
        font-size: 50px;
        color: #C66C49;
        margin-left: 90px;
        margin-top: 100px;
    }
    .fa-solid:hover{
        color: #333333;
    }
     }
     .right{
        width: 68%;
        height: 600px;
        margin-left: 28px;
        img{
            padding: 10px;
            opacity: 0.6;
            border: 2px solid #C66C49;
        }
        img:hover{
            opacity: 1;

}}
}
.oxir1{
    width: 100%;
    height: 450px;
    background-color: #FFFAF2;
    display: flex;
    flex-wrap: wrap;
    .div31{
        width: 27%;
        height: 70%;
        margin-left: 90px;
        margin-top: 100px;
h1{
    font-family: 'Libre Franklin';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #333333;
}
a{
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #333333;
    margin-top: 50px;
}
a:hover{
    color: #C66C49;
}
p{
    padding-top: 25px;
}
    }
    .div32{
        width: 27%;
        height: 70%;
        margin-left: 100px;
        margin-top: 100px;
        a{
            font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #333333;
    margin-top: 50px;
        }
        h1{
            padding-top: 35px;
        }
        a:hover{
            color: #C66C49;
        }
    }
    .div33{
        width: 27%;
        height: 70%;
        margin-top: 100px;
        p{
            font-family: 'Libre Franklin';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-decoration: none;
            color: #333333;
            padding-top: 30px;
        }
        h1{
            font-family: 'Libre Franklin';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 22px;
            text-decoration: none;
            color: #333333;
            margin-top: 25px;
        }
    }
.tag{
    width: 100%;
    height: 50px;
    background-color: #C66C49;
    h1{
        margin-top: 17px;
        text-align: center;
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
        color: #333333;
    }
}
}

}